
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<div>
    <p>@ViewBag.Text</p>
</div>
 @if (User.IsInRole("admin"))
    {
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    </div>
    }

